<div class="row">
  <div class="col-xs-6" align="center">
    <div class="window">
      <h1 id="route_name_tag"></h1>
      <h2>Route</h2>
    </div>

  </div>
  <div class="col-xs-6" align="center">
    <div class="window" id="driver-score">
      <h2>Driver</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6" align="center">
    <div class="avg" id="smell-score">
    </div> 
    <br>
    <h2>Smell Meter</h2>
  </div>
  <div class="col-xs-6" align="center">
    <div class="avg" id="clean-score">
    </div>
    <br>
    <h2>Clean Meter</h2>
  </div>
</div>
