<div class="bus__windows-row row">
  <div class="bus__window-col col-xs-6">
    <div class="bus__window">
      <h2 class="bus__route" id="route_name_tag">?</h2>
      <p class="bus__window-label">Route</p>
    </div>
  </div>
  <div class="bus__window-col col-xs-6">
    <div class="bus__window">
      <div class="bus__score" id="driver-score">
        <%= image_tag "Question_mark.png", alt: "?" %>
      </div>
      <p class="bus__window-label">Driver</p>
    </div>
  </div>
</div>

<div class="bus__meters-row row">
  <div class="bus__meter-col col-xs-6">
    <div class="bus__meter" id="smell-score">
      <%= image_tag "Question_mark.png", alt: "?" %>
    </div>
    <p class="bus__meter-label">Smell Meter</p>
  </div>
  <div class="bus__meter-col col-xs-6">
    <div class="bus__meter" id="clean-score">
      <%= image_tag "Question_mark.png", alt: "?" %>
    </div>
    <p class="bus__meter-label">Clean Meter</p>
  </div>
</div>
