<div class="row">
  <div class="col-xs-6" align="center">
    <div class="window">
      <h2 id="route_name_tag">?</h2>
      <h2>Route</h2>
    </div>

  </div>
  <div class="col-xs-6" align="center">
    <div class="window">
      <div id="driver-score">
        <%= image_tag "Question_mark.png", alt: "question_mark", width: '70' %>
      </div>
      <h2>Driver</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6" align="center">
    <div class="avg" id="smell-score">
      <%= image_tag "Question_mark.png", alt: "question_mark", width: '50' %>
    </div> 
    <br>
    <h2>Smell Meter</h2>
  </div>
  <div class="col-xs-6" align="center">
    <div class="avg" id="clean-score">
      <%= image_tag "Question_mark.png", alt: "question_mark", width: '50' %>
    </div>
    <br>
    <h2>Clean Meter</h2>
  </div>
</div>
