<h1>Puni app</h1>
<form action="/munis/<%= @muni.id %>" method="POST">
Route name:
<input type="text" name="route_name">
smell rating:
<input type="text" name="smell">
clean rating:
<input type="text" name="cleanliness">
driver rating:
<input type="text" name="driver">
<input type="submit" value="Submit">
</form>