body {
  max-width: 100%;
}

.bus {
  background-color: gray;
  border-radius: 8px;
  padding: 10px;
}

.avg {
  background-color: #fff;
  border-radius: 50%;
  max-width: 130px;
  padding: 30px;
  align-content: center;
  margin-top: 60px;
}

.window {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  align-content: center;
  height: 220px;
  margin-top: 20px;
}

.row {
  padding: 0px;
  margin: 0px;
}

.col-xs-12 {
  padding: 0px;
}

.leader {
  background-color: #fff;
  border-radius: 280px;
  width: 280px;
  padding: 50px;
  align-content: center;
  margin-top: 30px;
}
