body {
    max-width: 100%;
}

.bus {
    background-color: gray;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.avg {
    background-color: #fff;
    border-radius: 300px;
    width: 130px;
    padding: 40px;
    align-content: center;
    margin-top: 60px;
}

.window {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    align-content: center;
    height: 220px;
    margin-top: 20px;
}

.row {
    padding: 0px;
    margin: 0px;
}

.col-xs-12 {
    padding: 0px;
}